@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

body {
  font-size: 1.2rem;
  display: flex;
}

.models {
  display: none;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  background-color: #BAE2DF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-openner {
  margin-right: 15px;
  font-size: 1.8rem;
  background-color: antiquewhite;
  padding: 5px 50px;
  border-radius: 5px;
}

.menu-openner span {
  margin-right: 10px;
}

.menu-close {
  text-align: right;
  display: flex;
  font-size: 2rem;
}

.cart-fixed {
  position: fixed;
  width: 30%;
}

.menu-desktop {
  background-color: antiquewhite;
  width: 0vw;
  transition: all ease 0.2s;
  overflow-x: hidden;
}

aside {
  background-color: antiquewhite;
  width: 0vw;
  transition: all ease 0.2s;
  overflow-x: hidden;
}

.menu-desktop.ativo {
  width: 30%;
}

.cart-area {
  padding: 20px;
 
  
}

main {
  

  flex: 1;
  padding: 100px 0 20px 0;
}

h1 {
  padding-left: 100px;
  width: 90%;
  font-size: 1.8rem;
  padding-bottom: 20px;
}

.models-area {
  margin: auto;
  width: 90%;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

aside.show {
  padding-top: 80px;
  width: 100%;
}

.models-item {
  text-align: center;
  max-width: 250px;
  margin: 0 auto 50px auto;
}

.models-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.models-item-img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.315);
}

.models-item-img img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.models-item--add {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: blueviolet;
  text-align: center;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin-top: -25px;
  transition: all ease 0.2s;
}

.models-item a:hover .models-item--add {
  background-color: chocolate;
}


.models-item--price {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}

.models-item--name {
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-top: 5px;
}

.models-item--desc {
  font-size: 18px;
  color: rgb(155, 155, 155);
  margin-top: 10px;
}

.modelsWindowArea {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  display: none;
  transition: all ease 0.5s;
  justify-content: center;
  align-items: center;
  overflow: auto;
  animation: ShowWindowArea 0.4s forwards;
}

@keyframes ShowWindowArea {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modelsWindowBody {
  width: 900px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px #999;
  display: flex;
  margin: 20px 0;
}

.modelsBig {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modelsBig--back {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000;
}

.modelsBig img {
  height: 450px;
  border-radius: 10px;
  width: auto;
}

.modelsInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 50px;
  justify-content: space-between;
}

.modelsInfo h1 {
  margin-top: 50px;
}

.modelsInfo .modelsInfo--desc {
  font-size: 15px;
  color: #999;
  margin-top: 10px;
}

.modelsInfo--sector {
  color: #ccc;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.modelsInfo--sizes {
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
}

.modelsInfo--size {
  padding: 10px 15px;
  color: #000;
  background-color: #eee;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

.modelsInfo--size:hover {
  background-color: #ccc;
}

.modelsInfo--size.selected {
  background-color: rgb(182, 182, 182);
  color: #fff;
}

.modelsInfo--size.selected span {
  color: #d6d6d6;
}

.modelsInfo--size span {
  font-size: 12px;
  color: #999;
  font-weight: normal;
}

.modelsInfo--price {
  display: flex;
  align-items: center;
}

.modelsInfo--actualPrice {
  font-size: 28px;
  margin-right: 30px;
}

.modelsInfo--qtarea {
  display: inline-flex;
  background-color: #eee;
  border-radius: 10px;
  height: 30px;
}

.modelsInfo--qtarea button {
  border: 0;
  background-color: transparent;
  font-size: 17px;
  outline: 0;
  cursor: pointer;
  padding: 0 10px;
  color: #333;
}

.modelsInfo--qt {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 5px;
  color: #000;
}

.modelsInfo--addbutton {
  margin-top: 30px;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: aquamarine;
  color: #fff;
  display: inline-flex;
  cursor: pointer;
  margin-right: 30px;
}

.modelsInfo--addButton:hover {
  background-color: #32a345;
}

.modelsinfo--cancelbutton {
  display: inline-block;
  cursor: pointer;
}

.modelsInfo--cancelMobileButton {
  display: none;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-bottom: 30px;
}

.cart {
  margin-bottom: 20px;
  
}

.cart--item {
  display: flex;
  align-items: center;
  margin-top: 10px ;
 
}

.cart--item img {
  width: 100px;;
  margin-right: 20px;
}

.cart--item-nome {
  flex: 1;
  font-size: 1rem;

}

.cart--item--qtarea {
  display: inline-flex;
  background-color: #fff;
  border-radius: 10px;
  height: 30px;
}

.cart--item--qtarea button {
  border: 0;
  background-color: transparent;
  font-size: 17px;
  outline: 0;
  cursor: pointer;
  padding: 0 10px;
  color: #333;
}

.cart--item--qt {
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  padding: 0 5px;
  color: #000;
}

.cart--totalitem {
  padding: 15px 0;
  border-top: 1px solid #79b9dd;
  color: #315970;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.cart--totalitem span:first-child {
  font-weight: bold;
}

.cart--totalitem.big {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.cart--finalizar {
  padding: 20px;
  border-radius: 20px;
  background-color: #32a345;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  border: 2px solid #63f77c;
  transition: all ease 0.2s;
}

.cart--finalizar:hover {
  background-color: #35af4a;
}

.menu-close {
  display: block;
}

@media (max-width: 1570px) {
  .models-item-img {
    width: 250px;
    height: 250px;
    
  }

  .cart--item img {
    width: 70px;
    margin-right: 5px;
  }

}
@media (max-width: 1450px) {
  .cart-fixed {
    width: 35vw;
  }

  .menu-desktop.ativo {
    width: 35vw;
    padding-right: 20px;

  }
 
  .models-item-img {
    width: 200px;
    height: 200px;
    
  }

  .cart--item img {
    width: 70px;
    margin-right: 5px;
  }
}
@media (max-width: 1300px) {


  .cart-fixed {
    width: 40vw;
  }


  .menu-desktop.ativo {
    width: 40vw;
    padding-right: 20px;
  }
  

  .cart--item-nome {
    flex: 1;
    font-size: 0.9rem;
  
  }
  .cart--item img {
    width: 50px;
    margin-right: 5px;
  }
  .models-area {
    column-gap: 15px;
    width: 75%;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 840px) {
  body {
    flex-direction: column;
    display: flex;
  }
  .models-area {
    display: block;
  }
  .models-item {
    max-width: 100%;
  }
  header {
    display: flex;
  }
  h1 {
    padding-left: 0;
    width:97%;
    text-align: center;
  }

  .cart-fixed {
    position: relative;
    width: 100%;
  }

  aside {
    position: fixed;
    left: 150vw;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all ease 0.2s;
    
   
  }

  aside.show {
    width: auto;
    padding-top:20px ;
  }

  

  .modelsWindowArea {
    justify-content: flex-start;
    align-items: flex-start;
    
  }
  

  .modelsWindowBody {
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
  }

  .modelsBig {
    flex: none;
    width: 75%;
    height: 300px;
  
  }

  .modelsBig img {
    height: 300px;
    
  }

  .modelsInfo {
   
    padding-bottom: 0;
   
  }

  .modelsInfo h1 {
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .modelsInfo--qtarea {
    height: 60px;
  }

.modelsInfo .modelsInfo--desc {
  font-size: 20px;
  color: #999;
  margin: 10px 0 20px 0;
}
  .modelInfo--sector{
    padding-bottom: 10px;
  }

  .modelsInfo--qtarea button {
    font-size: 15px;
    padding: 0 25px;
  }

  .modelsInfo--qt {
    line-height: 60px;
    font-size: 20px;
  }

 

  .modelsInfo--addbutton {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 30px auto;
    justify-content: center;
  }

  .modelsinfo--cancelbutton {
    display: none;

  }

  .modelsInfo--cancelMobileButton {
    display: block;
    
  }
}
}
@media (max-width: 425px) {
 
  .modelsBig {
    width: 75%;
    height: 200px;
  
  }

  .modelsBig img {
    height: 200px;
    
  }

  h1 {
    padding: 15px 0 0 0;
  }

  
  .modelsInfo h1 {
    font-size: 1.4rem;
    margin-top: 0;
    
  }

 

.modelsInfo .modelsInfo--desc {
  font-size: 1rem;
  color: #999;
  margin: 10px 0 20px 0;
}
  

.modelsInfo--qtarea button {
    font-size: 15px;
    padding: 0 25px;
  }

.modelsInfo--qt {
    line-height: 60px;
    font-size: 20px;
  }

 

.modelsInfo--addbutton {
    font-size: 20px;
    display: block;
    text-align: center;
    margin: 30px auto;
    justify-content: center;
  }

}
